body{
    background-image:"https://github.com/binartz/binartz.github.io/blob/main/362D7B52-54FC-4AD5-889F-14A0F9F68AC3.jpeg?raw=true";
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img{
    border-radius: 50%;
}

.profile{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 150px;
}

.profile-name {
    text-align: center;
    padding: 10px;
    color: white;


}

.links{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    color: black;
}

li{
    list-style-type:none;
}

a{
    text-decoration: none;
    color: white;
    transition: color 1s;
}

a:hover{
    color: black;
    background-color: lightblue;
}
