body{
    background-color: #B2AC88;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img{
    border-radius: 50%;
}

.profile{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 250px;
}

.profile-name {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: black;
}

.links{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    color: black;
}

li{
    list-style-type:none;
}

a{
    text-decoration: none;
    color: black;
    transition: color 1s;
}

a:hover{
    color: black;
    background-color: lightblue;
}
