body {
  background-color: #51382d;
  font-family: "MS PGothic";
  font-color: white;
  margin: 25px;
}

.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
.card-title {
    text-align: center;
}

/*Navigation bar*/
ul {
  background-color: #E5D3B3;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: center;
}

li a:hover {
  background-color: #51382d;
}

