* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
   ul a {
    float: none;
    width: 100%;
  }
}

body {
  background-color: #51382d;
  font-family: "MS PGothic";
  font-color: white;
  margin: 25px;
  line-height: 0.9;
}

.leftcolumn {   
  width: 50%;
  background-color: #E5D3B3;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
  margin-bottom: 50px;
  float: center;
}

.container {
  text-align: center;
  padding: 5px 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display:block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/*Navigation bar*/
ul {
  background-color: #E5D3B3;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: center;
}

li a:hover {
  background-color: #51382d;
}

