body {
  display: block;
  font-family: "MS PGothic";
  background-color: #51382d;
  margin: 25px;
}

.section {
  margin-top: 4rem;
  padding-top: 4rem;
}

.section:last-of-type {
  padding-bottom: 4rem;
}

.bgimage {
  height: 100vh;
  background: url("Images%20for%20portfolio/WrbsitePic.jpg");
  background-size: cover;
  position: relative;
  padding: o;
  margin: 0;
}

.aboutImg {
  width: 100:
}


/*Navigation bar*/
ul {
  background-color: #E5D3B3;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: center;
}

li a:hover {
  background-color: #51382d;
}

/* socials */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
