body {
  display: block;
  font-family: "MS PGothic";
  background-color: #51382d;
  margin: 25px;
}

.section {
  margin-top: 4rem;
  padding-top: 4rem;
}

.section:last-of-type {
  padding-bottom: 4rem;
}

.bgimage {
  height: 100vh;
  background: url("Images%20for%20portfolio/WrbsitePic.jpg");
  background-size: cover;
  position: relative;
  width:913px;
}

.aboutImg {
  max-width: 80%:
  height: auto;
}


/*Navigation bar*/
ul {
  background-color: #E5D3B3;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: center;
}

li a:hover {
  background-color: #51382d;
  text-color: white;
}

/* socials */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-linkedin:hover, .fa-google:hover {
    color: white;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #E5D3B3;
    text-align: center;
}
