body {
  background-color: lightblue;
  font-family: "MS PGothic";
}

/*Text*/
h1{
  text-align: center;
  padding: 0 4px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

pre{
  font-family: "MS PGothic";
}


/*Images*/
.image1 {
  max-width: 48%;
  margin: 5px top left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  max-width: 50%;
  margin-top: 8px;
  vertical-align: middle;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: auto;
  max-width: 200px;
}

.profile {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: auto;
  max-width: 150px;
}

.logo {
  max-width: 80%;
  margin-top: 8px;
  vertical-align: middle;
}

/*Navigation bar*/
ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
}

li a:hover {
  background-color: lightblue;
}

li a:active {
  
  border:2px solid blue;
}
