/* General Styles */
html, #root, body {
  height: 100% !important;
}

body {
  margin: 0;
  font-family: 'Andika';
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #719ba8;
}

a {
  color: black;
  text-decoration: none;
}

code {
  font-family: 'Andika';
}

h1 {
  letter-spacing: .2rem;
  font-size: 18px;
  font-weight: 700;
}

h2 {
  letter-spacing: .1rem;
  font-size: 13px;
  font-weight: 800;
  line-height: 0;
}

p {
  font-weight: 600;
  letter-spacing: .1rem;
  font-size: 12px;
}

hr {
  color: #e2e2e2;
}

.footer-content {
    text-align: center;
    margin-top: 20px;
}

/* Centering */
.center {
  text-align: center;
  margin-top: 1rem;
}

/* Media Queries - Hide Divs on Certain Devices */
@media (max-width: 767.98px) {
  .xs-hidden {
    display: none;
  }
}

.mobile-max {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 959.98px) and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
  body {
    min-width: 830px;
  }
}

.tab-max {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .lg-hidden {
    display: none!important;
  }
  body {
    min-width: 1022px;
  }
}

/* Navigation */
button {
  border: none;
}

.nav-text {
  font-weight: 600;
  letter-spacing: .2rem;
  font-size: 12px;
  text-transform: lowercase;
}

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
} 

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 375px;
  padding: 0 15px;
  min-height: 100vh;
}

.height {
  min-height: 100vh;
}

.nav-content {
  margin: 0 auto;
  max-width: 960px; 
  padding: 0 15px;
}

#port-nav-web {
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  margin-top: 1.5rem;
}

#port-nav-web .menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#port-nav-mobile {
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: normal;
  display: block;
  margin-top: 1.5rem;
  position: sticky;
}

#port-nav-mobile .menu {
  width: 100%;
  max-width: 400px;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
#main-logo {
  text-align: center;
}

.bintou-logo {
  min-width: 300px;
  width: 30%;
}

/* Home Page */
#bio-web .container {
  min-width: 30%;
  height: 30%;
  display: flex;
  align-items: flex-start;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
}

#bio-pic .img {
  min-width: 30%;
  height: 30%;
  float: left;
}

#more {
  display: none;
}

/* Social Media Links */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Project Cards */
.card {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 280px;
  max-height: 330px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08), -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.card-image-container {
  width: 100%;
  height: 64%;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  background-color: rgb(165, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-icon {
  font-size: 40px;
}

.card-title {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #1797b8;
  cursor: default;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

.card-des {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  margin: 0;
  font-size: 13px;
  color: black;
  cursor: default;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 60px;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.photo-album--columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo-album--column {
    flex: 1 1 300px; /* Adjust as needed */
    text-align: center;
}

.project-image, .painting-image, .fitness-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Portfolio pdfs */
embed {
  width: 100%;

}




