body {
  display: block;
  font-family: "MS PGothic";
  background-color: #51382d;
  margin: 25px;
}


#about{
    height:250px;
    padding-top:5px;
    padding-left:20%;
    padding-right:20%;
    padding-bottom: 5px;
}

#aboutpage {
    background-color: white;
    border-radius:5%;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
}
.aboutImg {
  height:300px;
  float:left;
  margin:5px;
}

/* socials */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-linkedin:hover, .fa-google:hover {
    color: white;
}
.fab {
    color: #000000;
}
